@import url('https://fonts.cdnfonts.com/css/source-sans-pro');


*{
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f9f9f9;
    color: #333333;                
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-bottom: 5px solid #eb8113;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav li{
    float: left;
}

nav li a {
    display: block;
    color: #eb8113;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li.name{
    display: block;
    color: #eb8113;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

footer{
    background-color: #333333;
    color: #eb8113;
    padding: 1rem;
    border-top: 5px solid #eb8113;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer p{
    text-align: right;
}